<!--
Knowledge and Architecture Solutions
Crear una aplicación en Angular 4 o posterior que permita consumir la API de http://openweathermap.org/api
La aplicación debe cumplir los siguientes requisitos:
- El proyecto debe estar en Angular 4 o más.
- El proyecto debe estar con git en github.com en un repositorio público
- Se debe crear un componente de Angular que consuma la API OpenWeatherMap y debe renderizar la temperatura
de las siguientes ciudades:
i. Santiago
ii. Buenos Aires
iii. Lima
iv. Sao Pablo
- El componente debe almacenar dichas temperaturas en Store
- El componente debe refrescar las temperaturas de las ciudades y actualizarlas en Store cada 3 min.
- Se debe mantener un historial de las temperaturas
- Las vistas debe tener un mínimo de diseño y usabilidad (Bootstrap, Foundation, ...)
Casos de uso
- El componente debe obtener la información de la api de OpenWheaterMap.
- Las temperaturas se deben refrescar cada 3 min. y actualizar en la Store.-->


<div class="container">
    <div class="kas-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">ALTRAN. KAS Angular Test </h1>
        <p class="lead">Aplicación en Angular 9. Reinderiza la temperatura de Santiago,Buenos Aires,Lima,Sao Paulo </p>
        <p class="small">actualiza cada 3 minutos.</p>
    </div>

    <div class="content" role="main">
        <app-render-temperature></app-render-temperature>
    </div>

</div>